@model Proyecto3.Models.Entities.Venta

<h1>Eliminar Venta</h1>

<p>¿Estás seguro de que deseas eliminar la venta?</p>

<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroOrden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroOrden)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePlatoVendido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombrePlatoVendido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadVendida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadVendida)
        </dd>
    </dl>

    <form asp-action="Delete" asp-route-numeroOrden="@Model.NumeroOrden" method="post">
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

